body {
  /* background-color: blue; */
  overflow: hidden;
  animation: fading 40s infinite;
  animation-play-state: paused;
}
.fading {
  /* -webkit-animation-duration: 1s; */
  -webkit-animation-name: fading;
  /* animation-duration: 1s; */
  animation-name: fading;
}

@keyframes fading {
  0% {
    background-color: hsl(286, 27%, 36%);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1)
  }
  25% {
      background-color: rgb(5, 1, 26);
      animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035)

  }
  50% {
    background-color: hsl(286, 27%, 36%);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.50, 0.95)

  }
  75% {
    background-color: rgb(63, 125, 241);
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22)

  }
  100% {
    background-color: hsl(286, 27%, 36%);
  }
}

@font-face {
  font-family: "medieval";
  src: url('ReynoldsChanceryDeux-JGMm.ttf') format("truetype");
}
p.customfont { 
    font-family: "medieval", Verdana, Tahoma;
    font-size: xx-large;
}

p {
  text-align: center;
}

input.customfont{
  font-family: "medieval", Verdana, Tahoma;
  font-size: xx-large;
  text-align: center;
  background-color: transparent;
  border: none;
  color: white;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.center_text_div{
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  transform: translate(-50%, -50%); 
}

.center_form{
  text-align: center;
  border: none;
  
}

.moon{
  margin:auto;
  animation: circlemoon 40s linear infinite;
  animation-play-state: paused;
  position: fixed;
  top: calc(50% + 150px);
  right: calc(50% - 80px);
  text-align: center;

}

.moonflip{
  margin:auto;
  animation: circlemoonflip 40s linear infinite;
  animation-play-state: paused;
  position: fixed;
  top: calc(50% + 150px);
  right: calc(50% - 80px);
  text-align: center;
}

.sun{
  margin:auto;
  animation: circlesun 40s linear infinite;
  animation-play-state: paused;
  position: fixed;
  top: calc(50% + 150px);
  right: calc(50% - 160px);
  text-align: center;

}

@keyframes circlemoon{
  0%{
    transform:rotate(0deg)
              translate(-600px)
              rotate(0deg);
    opacity: 1;
  }

  25%{
    opacity: 1;
  }
  25.1%{
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  75.1%{
    opacity: 1;
  }
  100%{
    transform:rotate(360deg)
              translate(-600px)
              rotate(-360deg);
    opacity: 1;
  }
}

@keyframes circlemoonflip{
  0%{
    transform:rotate(0deg)
              translate(-600px)
              rotate(0deg);
    opacity: 0;
  }

  25%{
    opacity: 0;
  }

  25.1%{
    opacity: 1;
  }
  75%{
    opacity: 1;
  }
  75.1%{
    opacity: 0;
  }

  100%{
    transform:rotate(360deg)
              translate(-600px)
              rotate(-360deg);
    opacity: 0;
  }
}


@keyframes circlesun{
  0%{
    transform:rotate(0deg)
              translate(600px)
              rotate(0deg);
  
  }
  100%{
    transform:rotate(360deg)
              translate(600px)
              rotate(-360deg);
  }
}
